
 
.container 
 h1 { 
     font-size:50px;
     text-align: center;
     padding:30px;
     
     
    }
 h2 {
  text-align:center;
  font-size:50px;
  
 }

 p {
  font-size: 30px;
  text-align:center;
  color:green;
 }
