 h1 { 
     font-size:50px;
     text-align: center;
     padding:30px;
    }
 h2 {
  text-align:center;
  font-size:50px;
  padding:20px;
 }

 p {
 font-size: 30px;
  text-align:center;
  color:#0F7619;
 }
body {background-color:#8EA3A7;}

.container {
 display: flex;
 align-items:center;
 padding:30px;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
@font-face {
  font-family: myFirstFont;
  src: url(https://fonts.google.com/specimen/Titillium+Web);
}

div {
  font-family: myFirstFont;
}

